@model IEnumerable<HW8.Models.Artists>
@{
}

<h2>Are you sure you want to delete this item?</h2>
@foreach (var item in Model)
{
    <p><span class="detail">@Html.DisplayNameFor(model => model.Name)</span><br />
    @Html.DisplayFor(ModelItem => item.Name)</p>

    <p><span class="detail">@Html.DisplayNameFor(model => model.BirthCity)</span><br />
    @Html.DisplayFor(ModelItem => item.BirthCity)</p>

    <p><span class="detail">@Html.DisplayNameFor(model => model.DoB)</span><br />
    @Html.DisplayFor(ModelItem => item.DoB)</p>
}

<form method="post">
    <input type="submit" id="submitButton" value="Delete" /> @Html.ActionLink("Cancel", "Index")
</form>