@model IEnumerable<HW8.Models.Artists>
@{
}

<h2>Index</h2>
@Html.ActionLink("Create New", "Create")

<table id="crudTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.DoB)</th>
            <th>@Html.DisplayNameFor(model => model.BirthCity)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => item.Name)</td>
                <td>@Html.DisplayFor(ModelItem => item.DoB)</td>
                <td>@Html.DisplayFor(ModelItem => item.BirthCity)</td>
                <td><a href="~/Artist/Edit/@Html.DisplayFor(ModelItem => item.ArtistId)">Edit</a> | <a href="~/Artist/Details/@Html.DisplayFor(ModelItem => item.ArtistId)">Details</a> | <a href="~/Artist/Delete/@Html.DisplayFor(ModelItem => item.ArtistId)">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
