@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<HW5.Models.Driver>
<div id="dbTable">
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DriverID)</th>
                <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.Address)</th>
                <th>@Html.DisplayNameFor(model => model.City)</th>
                <th>@Html.DisplayNameFor(model => model.State)</th>
                <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
                <th>@Html.DisplayNameFor(model => model.County)</th>
                <th>@Html.DisplayNameFor(model => model.DateOfChange)</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => item.DriverID)</td>
                <td>@Html.DisplayFor(ModelItem => item.DateOfBirth)</td>
                <td>@Html.DisplayFor(ModelItem => item.FullName)</td>
                <td>@Html.DisplayFor(ModelItem => item.Address)</td>
                <td>@Html.DisplayFor(ModelItem => item.City)</td>
                <td>@Html.DisplayFor(ModelItem => item.State)</td>
                <td>@Html.DisplayFor(ModelItem => item.ZipCode)</td>
                <td>@Html.DisplayFor(ModelItem => item.County)</td>
                <td>@Html.DisplayFor(ModelItem => item.DateOfChange)</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section PageScripts
{
    <script>
    </script>
}